body {
    background-color: lightblue;
}

a{
    color: #000;
    padding: 25px;
    font-size: 24px;
}
#active {
    background-color: steelblue;
    color: beige;
}
h1{
    text-align: center;
}

img{
    width: 300px;
}
