body {
    background-color: lightblue;
}

/* html does not exist for this
#content{
    background-color: rgba(173, 216, 230, .5); 
    max-width: 800px;
    margin: 0 auto;
}
*/
nav, footer {
    background-color: steelblue;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
}
a{
    color: #000;
    padding: 25px;
    font-size: 24px;
}

a:hover{
    background-color: beige;
    color: steelblue;
}
.link{
    color: steelblue;
}
.active {
    background-color: steelblue;
    color: beige;
}
h1{
    text-align: center;
}

img{
    width: 70%;
    display: block;
    margin: 0 auto;
}
p{
   width: 70%;
    margin: 25px auto;
    line-height: 1.25em;
}

footer p{
    color: beige;
    text-align: center;
}