/* font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background-color: beige;
    font-size: 24px;
    font-family: Roboto, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* html does not exist for this
#content{
    background-color: rgba(173, 216, 230, .5); 
    max-width: 800px;
    margin: 0 auto;
}
*/
nav, footer {
    background-color: steelblue;
    font-size: 24px;
    display: flex;
    justify-content: space-around;

}
nav a{
    text-decoration: none;
}
a{
    /* Top navi bar hover sections */
    color: beige;
    padding: 25px;
    /* margin */
    font-size: 24px;
}

a:hover{
    background-color: beige;
    color: steelblue;
}
.link{
    color: steelblue;
}
.active {
    background-color: steelblue;
    color: beige;
}
h1{
    text-align: center;
}

img{
    width: 70%;
    display: block;
    margin: 0 auto;
    
}
p{
   width: 70%;
    margin: 25px auto;
    line-height: 1.25em;
    /*background-color: lightblue;
    padding: 30px 5px 60px 10px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 400px;*/
}

footer p{
    color: beige;
    text-align: center;
}